<!DOCTYPE html>
<html>
<head>
    <title>TrendScope</title>
    <link rel="stylesheet" href="header.css">
    <script src="page1.js"></script>
</head>
<body>
    <header>
        <!--홈페이지 상위 제목-->
        <h1>WEB PROGRAMMING</h1>
        <hr>
        <!--트렌드 스코프 로고 이미지-->
        <img src="/static/image/trandscopenews_LOGO.png">
        <hr>
        <hr>
        <div class="icons">
            <div class="menu-icon" onclick="openSidebar()">☰</div>  <!--사이드바-->
            <h2>{{ current_date|date:"l, F d" }}</h2>  <!--요일-->
            <div class="user-icon" onclick="redirectToUserPage()">👤</div> <!--user-->
        </div>
        <hr>
    <hr>
    </header>

</body>
</html>
