<!DOCTYPE html>
<html lang="kr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="jB_YX0577xzL_weappsczuTVHHH0_GrIWOQv9whT1d8" />

    <title>TrendScope</title>

    <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        text-align: center;
        margin: 1% 10% 3% 10%;
    }
    h1, h2, h3, h4, h5, h6{
        cursor: default;
    }
    </style>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/newsBox.css' %}">
    <script type="text/javascript" src="{% static 'js/navigation.js' %}"></script>

</head>
<body>
    <header>
        <!--홈페이지 상위 제목-->
        <h1>WEB PROGRAMMING</h1>
        <hr class="custom-hr">

        <!--트렌드 스코프 로고 이미지-->
        <img src="{% static 'image/trandscopenews_LOGO.png' %}" onclick="redirectToMainpage()">

        <hr class="custom-hr2">
        <hr class="custom-hr3">

        <div class="icons">
            <div class="menu-icon" onclick="openSidebar()">☰</div>  <!--사이드바-->
                <h2>{{ current_date|date:"l, F d" }}</h2>  <!--요일-->
            <div class="user-icon" onclick="redirectToUserPage()">👤</div> <!--user-->
        </div>
        <hr class="custom-hr3">
        <hr class="custom-hr2">
    </header>
    <main>
        {% for news in news_data %}
            {% if forloop.first %}
                <div class="detail-News">
                    <div><!--신문 이미지 처리 -->
                        {% if news.img_link == "0" %}
                            <img src="{% static 'image/ex.png' %}">
                        {% else %}
                            <img src="{{ news.img_link }}">
                        {% endif %}
                    </div>
                    <div> <!--화면에 보일 신문 정보-->
                        <div class="styled-box">
                            <h1>{{ news.ranking }}. {{ news.keywords }}</h1>
                            <p class="news-title">{{ news.title }}</p>
                            <hr class="custom-hr4">
                            <p>{{ news.text|truncatechars:150 }}</p>
                        </div>
                    </div>
                    <div> <!-- 관련 신문 링크-->
                        <h2>관련기사<hr></h2>
                        {% for news in news_link %}
                            <a href="{{ news.link }}">
                                {{ news.title }}
                            </a>
                            <br>
                        {% endfor %}
                    </div>
                    <!-- str btn -->
                    <button class="star-btn" data-keyword="{{ news.keywords|escapejs }}" onclick="toggleStar(this, '{{ news.keywords|escapejs }}', '{{ news.title|escapejs }}', '{{ news.text|escapejs }}', '{{ news.link|escapejs }}')">
                        ★
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </main>
</body>
</html>
