/* 전체 레이아웃 스타일 */
header {
    margin-bottom: 3%;
}

/* 제목 WEB PROGRAMMING*/
header h1 {
    font-size: clamp(10px, 1.25vw, 40px);
    color: #555;
    letter-spacing: 3px;
}

/* 구분선  */
.custom-hr {
    width: 80%;
    border: none;
    height: 2px;
    background-color: #1b1b1b;
    margin: 10px auto;

}

.custom-hr2 {
    width: 100%;
    border: none;
    height: 3px;
    background-color: #1b1b1b;
    margin: 3px auto;

}

.custom-hr3 {
    width: 100%;
    border: none;
    height: 5px;
    background-color: #1b1b1b;
    margin: 4px auto;
}

/* 제목 이미지  */
header img {
    width: 100%;
    max-width: 800px;
    margin: 10px 0;
    cursor: pointer;
}

/* 아이콘 컨테이너 스타일 */
.icons {
    display: flex; /* 아이콘들을 가로로 배치 */
    justify-content: space-between; /* 아이콘들 사이 간격 균등 */
    align-items: center; /* 수직 중앙 정렬 */
    margin: 20px auto;
    width: 80%;
}

/* 메뉴 아이콘 스타일 */
.menu-icon {
    font-size: 40px;
    cursor: pointer;
}

/* 사용자 아이콘 스타일 */
.user-icon {
    font-size: 40px;
    cursor: pointer;
}

/* 날짜 스타일 */
.icons h2 {
    color: inherit;
    font-size: clamp(16px, 1.8vw, 40px);
}
