/* newsBox.css */



/* 공통 스타일 */
.news-item1, .news-item2 {
    display: flex;
    position: relative;
    margin: 2.5vh;
    justify-content: space-between;
    background-color: #c4dce8;
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 */
    cursor: pointer;
}

/* 이미지 스타일 */
.news-item1 img, .news-item2 img {
    margin: 2% 2% 2% 2%;
    width: 40%;
    height: auto;
    object-fit: contain;
}

.styled-box{
    flex: 1;
    margin: 2%;

}
.styled-box h1{
    position: relative;
    font-size: 30px;
    margin-bottom: 2vh;
    padding: 1vh;
    /* 배경 박스 설정 */
    background-color: #ffffff;
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
    border-radius: 10px;
}
.styled-box .news-title{  /*신문 제목*/
    font-size: 30px;
    font-weight: bold;
    line-height: 3rem;

}
.styled-box p{  /* 본문    */
    margin-bottom: 2%;
    position: relative;
    font-size: 20px ;
    line-height: 1.5;
    color: #555;
    white-space: pre-wrap;
    text-align: left;
    line-height: 2rem;
}
.custom-hr4{
    width: 78%;
    height: 3px;
    color: #583305;
    text-align: left;
    margin: 1vh 0 1vh 2%;
}

.star-btn{
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: #808080;
    transition: color 0.3s ease;
    background: none;
}
.star-btn2{
    position: absolute;
    bottom: 3%;
    left: 3%;
    color: #808080;
    transition: color 0.3s ease;
    background: none;
}
.star-btn.active {
    color: gold;
}


@media (max-width: 720px) {

    .news-item1, .news-item2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
     .news-item2{
        flex-direction: column;
    }

    .news-item1 img, .news-item2 img {
        width: 80%;
        height: auto;
    }
.styled-box h1 {
    font-size: 23px;
    margin-bottom: 1vh;
}
.styled-box .news-title { /*신문 제목*/
    font-size: 20px;
    font-weight: bold;
    line-height: 2rem;

}
.styled-box p { /* 본문 제목    */
    font-size: 12px;
    line-height: 3vh;
}
}
